@font-face {
    font-family: 'Lato';
    src: url("./fonts/Lato-Regular.ttf") format('truetype');
}

.title {
    text-align: center;
    margin-top: 40px;
}

.font {
    font-family: 'Lato', sans-serif;
}

.icon {
    background: url("./icons/info.svg");
    height: 20px;
    width: 20px;
    display: block;
}

.upload-box {
    display: block;
    /* background-color: aquamarine; */
    position: relative;
}

.input-file {
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    /* background-color: lime; */
}

.box {
    display: flex;
    justify-content: center;
    /* background-color: tomato; */
}

.info-button {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: manipulation;
}

.convert-box {
    display: inline-block;
    /* background-color: yellow; */
}

.button {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    /* background-color: lightsalmon; */
    height: 30px;
    touch-action: manipulation;
}

.output-box {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: lightcoral; */
    display: none;
}

.data-textarea {
    resize: none;
    width: 75vw;
}

.buttons-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightpink; */
}

.margin-top {
    margin-top: 4vh;
}

.output-text {
    width: 75vw;
}

.margin-left {
    margin-left: 0.5vw;
}

.download-box {
    display: inline-flex;
}

.progress-bar-outside {
    margin-top: 3vh;
    height: 20px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.2);
    display: none;
}

.progress-bar {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.input {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    /* background-color: lightsalmon; */
    height: 20px;
    touch-action: manipulation;
}

@keyframes start-progress-animation {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

@keyframes finish-progress-animation {
    from {
        width: 80%;
    }

    to {
        width: 100%;
    }
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}